@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
:root {
  --color-1: #004369;
  --color-2: #008080;
  --color-3: #fdd146;
  --white: #ffffff;

  --font-family-condensed: "Roboto Condensed", sans-serif;
  --font-family-mono: "Roboto Mono", monospace;
  --font-family-cherrybomb: "Cherry Bomb One", cursive;
  --font-family-questrial: "Questrial", sans-serif;
  --letter-spacing-s: 0.25rem;
  --letter-spacing-m: 0.5rem;

  --transition-backgroundColor-1: background-color 0.2s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
}
a:link,
a:visited {
  text-decoration: none;
  text-transform: uppercase;
}

.page {
  display: none;
}
.swirl-divider {
  height: 2.5rem;
  margin: 1rem;
}

.header {
  /* background-color: var(--white); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 4rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.5s ease-in-out, color 0.3s ease-in-out;
}
.header.scrolled {
  background-color: var(--white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.logo {
  height: 8rem;
  padding: 1rem;
  align-self: center;
}

.nav {
  display: flex;
  font-size: 1.4rem;
  list-style: none;
}

.nav__link:link,
.nav__link:visited {
  color: var(--white);
  font-weight: 500;
  display: block;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  font-family: var(--font-family-condensed);
  letter-spacing: var(--letter-spacing-s);
  font-size: 1.75rem;
}
.nav__link.scrolled {
  color: var(--color-2);
}

.btn__sched:link,
.btn__sched:visited {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  color: var(--white);
  background-color: #40a0a0;
  padding: 1.5rem 3rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  font-family: var(--font-family-condensed);
  letter-spacing: var(--letter-spacing-s);
}
.btn__sched:hover {
  box-shadow: 3px 6px 0px 0px var(--color-3);
  transform: translateY(-5px) translateX(-5px);
}
.fa-envelope {
  margin: 0 1rem;
}
.header__menu {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
  overflow-y: hidden;
}
.overlay.show {
  display: block;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--color-2);
  overflow: hidden;
  transition: 0.5s;
  padding-top: 6rem;
}

.sidenav a {
  color: white;
  font-size: 2rem;
  padding: 1.75rem;
  font-family: var(--font-family-mono);
  display: block;
  text-decoration: none;
  transition: 0.3s;
  white-space: nowrap;
}
.sidenav a:hover {
  color: var(--color-3);
}
.sidenav .close__btn {
  position: absolute;
  top: -15px;
  right: 2.5rem;
  font-size: 6rem;
}
.sidenav .close__btn {
  outline: none;
}

.homepage {
  background-color: var(--color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  height: 100vh;
  position: relative;
}
.homepage__hero {
  flex-basis: 50%;
  color: var(--white);
  margin-top: 10rem;
}
.homepage__hero--heading {
  font-size: 8rem;
  font-family: var(--font-family-cherrybomb);
  line-height: 7.5rem;
}
.homepage__hero--heading span {
  color: var(--color-3);
}
.homepage__hero--details {
  font-size: 1.75rem;
  margin: 2rem 0 4rem 0;
  font-family: var(--font-family-questrial);
  line-height: 2.5rem;
}
.homepage__hero--links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.homepage__hero--links p {
  font-size: 1.75rem;
  font-weight: 900;
}
.homepage__hero--link {
  color: var(--white);
  background-color: var(--color-2);
  padding: 1.5rem 1rem;
  border-radius: 30px;
  font-size: 1.5rem;
  min-width: 18rem;
  text-align: center;
}
.homepage__hero--link:last-of-type span {
  margin: 0.75rem;
}
.homepage__image {
  flex: 0 0 40%;
  margin-top: 10rem;
}
.homepage__image img {
  width: 100%;
}

/* Homepage Services */
.services {
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.services__header {
  margin-bottom: 1rem;
}
.services__title {
  font-family: var(--font-family-condensed);
  letter-spacing: 0.5rem;
  font-size: 5rem;
  font-weight: lighter;
  color: var(--color-2);
  text-transform: uppercase;
}
.services__detail {
  color: var(--color-2);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.services__cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__card {
  width: 35rem;
  background-color: var(--color-2);
  /* border-radius: 160px 160px 10px 10px; */
  border-radius: 50% 50% 10% 10% / 25% 25% 10% 10%;
  margin: 1.5rem;
  padding: 1rem 1rem;
  overflow: hidden;
}
.card__logo {
  height: 8rem;
  margin: 2rem;
}
.card__details {
  /* border-radius: 160px 160px 10px 10px; */
  border-radius: 50% 50% 10% 10% / 25% 25% 10% 10%;

  width: 100%;
  height: 38rem;
  background-color: var(--white);
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card__details h1 {
  font-size: 2rem;
  color: rgba(22, 22, 22, 0.788);
  text-align: center;
  max-width: 20rem;
  font-family: var(--font-family-cherrybomb);
  letter-spacing: var(--letter-spacing-s);
}
.card__details p {
  font-size: 1.5rem;
  font-family: var(--font-family-mono);
  color: rgba(0, 0, 0, 0.582);
}
.card__details--btn {
  color: var(--white);
  background-color: var(--color-2);
  padding: 1.5rem 1rem;
  border-radius: 30px;
  font-size: 1.55rem;
  letter-spacing: 0.1rem;
  min-width: 18rem;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}
.services__card:nth-of-type(2) {
  background-color: var(--color-3);
}
.services__card:nth-of-type(3) {
  background-color: var(--color-1);
}

/* Testimonials */
.testimonials {
  background-color: var(--color-1);
  color: var(--white);
  padding: 5rem 5rem;
  min-height: 50rem;
}
.testimonials__title {
  font-family: var(--font-family-condensed);
  font-weight: lighter;
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-m);
}
.testimonials__card {
  width: 100%;
  border-radius: 20px;
}
.testimonials__gallery--card {
  height: 20rem;
  width: 100%;
}
.gallery__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.card__rating {
  text-align: center;
  font-size: 1.35rem;
  width: 100%;
  font-family: var(--font-family-questrial);
}
.card__rating p {
  margin-top: 2rem;
  font-weight: lighter;
  text-transform: none;
  font-size: 1.5rem;
  display: none;
  line-height: 2.25rem;
}
.card__rating .fa-paw {
  font-size: 3rem;
  margin: 0.75rem auto;
}

.star--container {
  display: none;
}

.card__rating .fa-star {
  color: var(--color-3);
}
.card--image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 60px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 32rem;
  height: 40rem;
}
.sample-slider .swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-slide-active .testimonials__gallery--card .card__rating p,
.swiper-slide-active
  .testimonials__gallery--card
  .card__rating
  .star--container {
  display: block;
}

.booking {
  min-height: 50rem;
  text-align: center;
  padding: 10rem;
}
.booking__center {
  background-color: var(--color-3);
  border-radius: 50px;
  width: 90%;
  min-height: 35rem;
  margin: 5rem auto;
  margin-top: 0;
  text-align: center;
  color: var(--white);
  padding: 5rem;
}
.booking__links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  width: auto;
  justify-content: center;
}
.booking__links p {
  font-size: 1.75rem;
  font-weight: 900;
}
.contact__link {
  color: var(--white);
  background-color: var(--color-2);
  padding: 1.5rem 1rem;
  border-radius: 30px;
  font-size: 1.5rem;
  min-width: 18rem;
  text-align: center;
  transition: var(--transition-backgroundColor-1);
}
.contact__link:last-of-type span {
  margin: 0.75rem;
}
.booking__center h1 {
  font-family: var(--font-family-cherrybomb);
  font-size: 9.5rem;
  margin: 2rem auto;
  line-height: 9rem;
  letter-spacing: var(--letter-spacing-s);
}
.booking__center span {
  color: var(--color-2);
}
.booking__center p {
  font-family: var(--font-family-questrial);
  font-size: 2rem;
  padding: 2rem;
}
.booking__btn {
  color: var(--white);
  background-color: var(--color-2);
  padding: 1.75rem 4rem;
  border-radius: 30px;
  font-size: 1.55rem;
  min-width: 18rem;
  text-align: center;
  margin-bottom: 2rem;
  transition: var(--transition-backgroundColor-1);
}
.footer {
  background-color: var(--color-1);
  padding: 5rem;
  font-family: var(--font-family-questrial);
  color: var(--white);
}

.footer hr {
  color: var(--color-2);
}

.footer__info {
  display: flex;
  text-transform: uppercase;
  font-size: 1rem;
  gap: 5rem;
  line-height: 2.5rem;
  margin-bottom: 6rem;
}
.footer__info--socials {
  flex: 1;
}
.footer__info--socials img {
  width: 25rem;
  margin-bottom: 1rem;
}
.socials--links {
  display: flex;
  margin-left: 2rem;
  margin-bottom: 3rem;
  gap: 1.5rem;
}

.socials__container {
  background-color: var(--color-2);
  border-radius: 50%;
  overflow: hidden;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials--links .fa-brands {
  padding: 1rem;
  color: var(--white);
  font-size: 3.5rem;
}
.footer__info--contacts {
  flex: 1;
}
.footer__info--contacts p {
  font-size: 1.5rem;
  text-transform: none;
}
.footer__info--contacts > * {
  margin-bottom: 2rem;
}
.footer__info--links {
  flex: 1;
}
.footer__info--links p a {
  font-size: 1.5rem;
  color: var(--white);
  text-transform: none;
}
.footer__info--links h1 {
  margin-bottom: 2rem;
}
.legal {
  text-align: right;
  font-size: 1.5rem;
  margin: 1.25rem 0;
}

/* About Us Page */
#about {
  background-color: var(--white);
}
.about__hero {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.image--container {
  flex: 1;
  max-width: 100%;
  height: 80%;
  align-self: flex-start;
}
.image--container.right {
  background-color: dodgerblue;
  align-self: flex-end;
  margin-left: 5rem;
}
.image--container.left {
  background-color: pink;
  margin-right: 5rem;
  align-self: center;
}
.image--container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__headline {
  position: absolute;
  min-width: 25rem;
  min-height: 50%;
  background-color: var(--color-1);
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding-top: 5rem;
  padding-bottom: 10rem;
  text-align: center;
  color: var(--white);
  font-family: var(--font-family-questrial);
  max-width: 40%;
  margin-top: 2rem;
  border-radius: 20px;
}
.hero__headline h1 {
  color: var(--color-3);
  font-family: var(--font-family-cherrybomb);
  font-size: 5.5rem;
}
.hero__headline p {
  max-width: 70%;
  margin: 2rem auto;
  font-size: 1.75rem;
  text-align: left;
  line-height: 3rem;

  text-align: justify;
}
.hero__headline p:last-of-type {
  margin-bottom: 5rem;
}
.hero__headline .contact__link {
  padding: 1.75rem 5rem;
}
.about__headline {
  height: auto;
  color: var(--color-1);
  font-family: var(--font-family-questrial);
  font-weight: 900;
}
.about__headline {
  padding-top: 2rem;
}
.headline__text,
.headline__text--body {
  text-align: center;
  max-width: 80%;
  margin: auto;
}
.headline__text p {
  font-size: 1.75rem;
  text-transform: uppercase;
  margin: 2rem;
  line-height: 2rem;
}
.headline__text h2 {
  font-family: var(--font-family-mono);
  font-size: 5rem;
  letter-spacing: 0.5rem;
  line-height: 6rem;
  margin-bottom: 2rem;
}
.headline__text--body {
  padding: 2rem 10rem;
}
.headline__text--body p {
  font-size: 1.75rem;
  text-align: justify;
  margin: 2rem;
  line-height: 3rem;
}
.headline__quote {
  background-color: var(--color-1);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10rem;
}
.quote--body {
  max-width: 80rem;
  text-align: center;
  font-size: 2.5rem;
  font-family: var(--font-family-questrial);
  letter-spacing: var(--letter-spacing-m);
  padding: 3rem;
  position: relative;
}
.quote--body h2,
.quote--body span {
  font-weight: lighter;
}
.quote--body span {
  color: var(--color-3);
}
.quote--body .fa-solid {
  position: absolute;
  font-size: 4rem;
}
.quote--body .fa-quote-left {
  top: 0;
  left: 0;
  margin-left: 1.5rem;
}
.quote--body .fa-quote-right {
  bottom: 0;
  right: 5rem;
  margin-top: 3rem;
}
.headline__quote--owner {
  font-size: 3rem;
  letter-spacing: var(--letter-spacing-s);
}
.headline__showcase {
  height: auto;
}
.headline__showcase--links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  width: auto;
  justify-content: center;
}
.headline__showcase--links p {
  font-size: 1.75rem;
  font-weight: 900;
}
.headline__showcase--title {
  text-align: center;
  margin: 4rem auto;
  max-width: 80%;
}
.headline__showcase .cherry {
  color: var(--color-3);
  font-size: 8rem;
  text-align: center;
  line-height: 7.5rem;
}
.headline__showcase--image {
  max-width: 75%;
  height: 80%;
  margin: auto;
}
.headline__showcase--image img {
  width: 100%;
}
/* Services Page */

/* FAQs Page */
.faqs__hero {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15rem 0 10rem 0;
}
.faqs__hero--title {
  text-align: center;
  max-width: 50%;
}
.faqs__hero--title h1 {
  font-family: var(--font-family-cherrybomb);
  color: var(--color-3);
  font-size: 8rem;
  line-height: 7.5rem;
  margin-bottom: 1rem;
}
.faqs__hero--title p {
  font-family: var(--font-family-questrial);
  color: var(--color-2);
  font-size: 2rem;
}
.faqs__category--container {
  width: 90%;
  display: flex;
  margin-top: 5rem;
  flex-wrap: wrap;
}
.faqs__card--container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-condensed);
  flex: 1;
  flex-direction: column;
  align-self: flex-start;
  padding: 0 2rem;
}
.faqs__category {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-m);
  color: var(--color-1);
  margin-top: 5rem;
  align-self: flex-start;
}

.faqs__card {
  width: 100%;
  min-width: 30rem;
  max-width: 100%;
  border-radius: 20px;
  background-color: var(--color-1);
  padding: 2rem;
  cursor: pointer;
  align-self: flex-start;
  justify-content: center;
  margin: 2.25rem auto;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.4);
  font-family: var(--font-family-questrial);
}
.faqs__card--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-3);
  font-size: 1.75rem;
  gap: 3rem;
  height: 7rem;
  min-height: 7rem;
  max-height: auto;
  line-height: 3rem;
}
.faqs__card--title .fa-solid {
  color: var(--white);
  font-size: 2.75rem;
}
.faqs__card--content {
  color: var(--white);
  font-size: 1.75rem;
  line-height: 2.5rem;
  letter-spacing: var(--letter-spacing-s);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out; 

}
.faqs__card--content.show {
  opacity: 1;
  max-height: 1000px;
}
.faqs__card--details {
  margin: 2rem auto;
  text-align: justify;
  hyphens: auto;
}
.faqs__card--details span {
  text-decoration: underline;
}
.faqs__card--feedback {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: lighter;
}
.faqs__card--feedback span {
  display: flex;
  gap: 0.75rem;
  font-size: 1.25rem;
}
.feedback--span {
  height: 2.5rem;
  width: 2.5rem;
}
.feedback--span img {
  height: 100%;
}
.faqs__contact{
  text-align: center;
  margin: 1rem auto;
  font-family: var(--font-family-questrial);
}
.faqs__contact p {
  margin: 5rem auto 3.75rem auto;
  font-size: 2rem;
  color: var(--color-2);
}
.faqs__contact .btn {
  padding: 1.5rem 4rem;
  text-decoration: underline;
}

/* utilities */
.btn:hover {
  background-color: var(--color-1);
}
.btn:active {
  background-color: #e6eefa;
  color: var(--color-1);
}
.questrial {
  font-family: var(--font-family-questrial);
}
.mono {
  font-family: var(--font-family-mono);
}
.condensed {
  font-family: var(--font-family-condensed);
}
.cherry {
  font-family: var(--font-family-cherrybomb);
}
.homepage__image.no-display {
  display: none;
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 50%;
  }
  .nav__link:link {
    text-align: center;
  }
  .faqs__hero--title {
    max-width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  .nav {
    display: none;
  }
  .header__menu {
    display: block;
    font-size: 6rem;
    color: var(--white);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .header__menu.scrolled {
    color: var(--color-1);
  }
  .homepage__hero {
    flex-basis: 100%;
    margin-top: 0;
  }
  .homepage__hero--heading {
    font-size: 7rem;
  }
  .homepage__image.display {
    margin-top: 0;
    display: none;
  }
  .homepage__image.no-display {
    display: block;
    width: 40rem;
    margin: auto;
  }
  .services__cards {
    flex-wrap: wrap;
  }
  .booking {
    padding: 5rem 2rem;
  }
  .booking__center {
    width: 100%;
  }
  .footer__info {
    flex-direction: column;
    gap: 2rem;
  }
  .homepage__hero {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
  }
  .homepage__image {
    flex: 0 0 70%;
  }
  .image--container.right {
    margin-left: 0;
  }
  .image--container.left {
    margin-right: 0;
  }
  .hero__headline {
    min-width: 90%;
    padding: 3rem;
  }
  .hero__headline p {
    max-width: 90%;
  }
  .headline__text--body {
    padding: 0;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    height: 8rem;
  }
  .homepage {
    padding: 0 3rem;
    justify-content: center;
  }
  .homepage__hero--heading {
    font-size: 5.75rem;
    line-height: 5rem;
    text-align: left;
  }
  .homepage__hero--links {
    gap: 1.5rem;
    font-size: 1rem;
    justify-content: center;
  }
  .homepage__hero--links p {
    font-size: 1rem;
  }
  .homepage__image.no-display {
    width: 35rem;
  }
  .header__menu {
    font-size: 4rem;
  }
  .services__title {
    font-size: 4rem;
  }
  .testimonials {
    padding: 5rem 2rem;
  }
  .testimonials__title {
    font-size: 4rem;
  }
  .booking {
    padding: 5rem 2rem;
  }
  .booking__center {
    width: 100%;
  }
  .booking__links {
    gap: 1.5rem;
  }
  .booking__links p {
    font-size: 1rem;
  }
  .booking__center h1 {
    font-size: 6rem;
  }
  .socials--links {
    margin-left: 0;
  }
  .homepage__image {
    flex: 0 0 100%;
  }
  .footer {
    padding: 5rem 2rem;
  }
  .footer__info {
    margin-bottom: 3rem;
  }
  .hero__headline {
    padding: 5rem 3rem;
  }
  .hero__headline p {
    max-width: 100%;
    text-align: justify;
    hyphens: auto;
  }
  .headline__text,
  .headline__text--body {
    max-width: 95%;
    padding: 0 1rem;
  }
  .headline__text--body {
    margin-top: 5rem;
  }
  .headline__text h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .headline__quote {
    padding: 3rem;
  }
  .quote--body h2 {
    font-size: 2.5rem;
  }
  .quote--body .fa-solid {
    font-size: 2rem;
  }
  .quote--body .fa-quote-right {
    right: 0;
    margin-top: 3rem;
  }
  .headline__quote--owner {
    font-size: 1.75rem;
  }
  .headline__showcase--links {
    gap: 1.5rem;
  }
  .headline__showcase--links p {
    font-size: 1rem;
  }
  .headline__showcase--title {
    max-width: 95%;
  }
  .headline__showcase .cherry {
    line-height: 4rem;
    font-size: 3.75rem;
  }
  .headline__showcase--image {
    max-width: 100%;
  }
  .faqs__category--container {
    width: 100%;
  }
  .faqs__hero--title h1 {
    font-size: 6rem;
    line-height: 6rem;
  }

}
